// abstracts
@use './abstracts' as *;

// base
@use './base' as *;

// components
@use './components' as *;

// pages
@use './pages' as *;


body {
    background-color: red;

    & > main {
        background-color: blue;
    }

    & > div {
        color: rgb(33, 29, 29);
    }
}