@charset "UTF-8";
@font-face {
  font-family: "Baloo 2";
  font-weight: normal;
  src: url("/assets/fonts/Baloo2/Baloo2-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Baloo 2";
  font-weight: bold;
  src: url("/assets/fonts/Baloo2/Baloo2-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Fredoka";
  font-weight: normal;
  src: url("/assets/fonts/Fredoka/Fredoka-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Fredoka";
  font-weight: bold;
  src: url("/assets/fonts/Fredoka/Fredoka-Bold.ttf") format("truetype");
}
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.fw-bold {
  font-weight: bold !important;
}

.d-block {
  display: block !important;
}

.space-margin-16 > *:not(:last-child) {
  margin-bottom: 16px;
}
.space-margin-16 > :last-child {
  margin-bottom: 0px;
}

.mx-auto {
  margin-inline: auto !important;
}

.text-center {
  text-align: center !important;
}

.container-700 {
  max-width: min(700px, 100% - 32px);
  margin-inline: auto;
}

.container-1400 {
  max-width: min(1400px, 100% - 32px);
  margin-inline: auto;
}

.footer {
  background-color: #F8F9F3;
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  font-size: 12px;
  white-space: nowrap;
}
.footer__inner {
  max-width: min(750px, 100% - 32px);
  margin-inline: auto;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 8px;
  padding: 10px 0;
}
.footer .footer-text-1,
.footer a {
  color: #222222;
}
.footer .footer-text-2,
.footer .footer-text-3,
.footer .footer-text-4 {
  transition: transform 0.3s ease;
}
.footer .footer-text-2:hover,
.footer .footer-text-3:hover,
.footer .footer-text-4:hover {
  transform: translatey(-2px);
}
.footer a {
  text-decoration: none;
}
.footer a:hover {
  color: #00C2FF;
  text-decoration: underline;
}
@media (min-width: 600px) {
  .footer__inner {
    flex-direction: row;
    justify-content: center;
    padding: 15px 0;
    font-size: 16px;
    text-align: center;
    gap: 25px;
  }
  .footer__inner .footer-text-4 {
    order: 1;
  }
}

body > header {
  background: #F8F9F3;
  box-shadow: 0px 1px 3px #222222;
  padding: 12px 0;
}

.navbar {
  max-width: min(750px, 100% - 32px);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar .nav-link,
.navbar .nav-icon a {
  text-decoration: none;
}
.navbar .logo {
  padding-block: 15px;
}
.navbar .navbar-group,
.navbar .nav-list {
  display: flex;
  align-items: center;
  gap: 80px;
}
.navbar .navbar-group {
  position: relative;
}
.navbar .navbar-group .nav-link {
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  color: #222222;
  font-size: 12px;
  transition: color, transform 0.3s ease;
}
.navbar .navbar-group .nav-link:hover {
  color: #7B51FF;
  transform: translateY(-2px);
}
.navbar .nav-toggler {
  position: absolute;
  right: -35px;
  top: 25px;
  overflow: hidden;
  height: 0;
}
.navbar .nav-toggler .toggler-group {
  background-color: #F8F9F3;
  padding-top: 10px;
}
.navbar .nav-toggler .toggler-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar .nav-toggler .toggler-link {
  width: 100%;
  margin: 5px 10px;
  text-align: center;
  color: #222222;
  font-family: "Baloo 2", sans-serif;
  font-weight: bold;
  font-size: 12px;
  transition: all 0.5s;
}
.navbar .nav-toggler .toggler-link:hover {
  background-color: #7B51FF;
  color: #F8F9F3;
}
.navbar .toggle-menu {
  height: auto;
}
.navbar .nav-icon i {
  font-size: 12px;
  background-color: #7B51FF;
  color: #F8F9F3;
  padding: 5px;
  border-radius: 50%;
  transition: color 0.3s ease;
  cursor: pointer;
}
.navbar .nav-icon i:hover {
  color: #FFD700;
}
@media (min-width: 525px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 35px;
  }
  .navbar .logo {
    max-width: 120px;
  }
  .navbar .navbar-group .nav-list {
    gap: 60px;
  }
  .navbar .nav-link,
  .navbar .toggler-link {
    font-size: 16px !important;
  }
  .navbar .nav-icon i {
    font-size: 24px;
  }
  .navbar .nav-toggler {
    right: -40px;
    top: 40px;
  }
  .navbar .toggler-group {
    padding-top: 20px !important;
  }
}
@media (min-width: 700px) {
  .navbar .navbar-group .nav-list {
    gap: 80px;
  }
}

.btn-primary {
  display: inline;
  border: none;
  border-radius: 5px;
  padding: 12px 16px;
  font-size: 16px;
  font-family: "Baloo 2", sans-serif;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .btn-primary {
    padding: 8px 16px;
    font-size: 12px;
  }
}

.btn-primary {
  color: white;
  font-weight: bold;
  background-color: #7B51FF;
  transition: background-color 300ms;
}
.btn-primary:hover {
  background-color: #00C2FF;
}

/* Styles généraux */
.account {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(#00C2FF, #7B51FF);
  color: #F8F9F3;
  font-family: Arial, sans-serif;
}

/* Conteneur principal */
.container {
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Titre */
.form-container-title {
  margin-bottom: 20px;
  font-size: 24px;
}

/* Groupes de saisie */
.input-group {
  text-align: left;
  margin-bottom: 15px;
  color: #222222;
}

.input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

/* Bouton */
.btn {
  padding: 10px;
  border: none;
  font-size: 18px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary {
  background: #7B51FF;
  color: #F8F9F3;
}
.btn-primary:hover {
  background: #00C2FF;
}

/* Lien vers l'inscription */
.form-container-paragraph {
  margin-top: 10px;
  font-size: 14px;
}
.form-container-paragraph a {
  color: #FFD700;
  text-decoration: none;
  font-weight: bold;
}
.form-container-paragraph a:hover {
  text-decoration: underline;
}

.home-page-main {
  height: 100vh;
  background: linear-gradient(#00C2FF, #7B51FF);
  display: grid;
  place-items: center;
}
.home-page-main p {
  color: #F8F9F3;
}

.profile-page {
  font-family: "Baloo 2", sans-serif;
  font-size: 16px;
  color: #222222;
  background: linear-gradient(#00C2FF, #7B51FF);
  padding-block: 64px;
}
.profile-page h2, .profile-page h3 {
  font-family: "Fredoka", sans-serif;
  font-weight: bold;
  font-size: 24px;
}
.profile-page .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.profile-page .card {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 650px;
  padding: 32px;
  border-radius: 15px;
  background-color: #F8F9F3;
  max-width: 650px;
  margin-inline: auto;
}
.profile-page .card > *:not(:last-child) {
  margin-bottom: 32px;
}
.profile-page .card > :last-child {
  margin-bottom: 0px;
}
.profile-page .user-visuals {
  position: relative;
  height: clamp(180px, 60vw, 250px);
}
.profile-page .user-visuals > *:not(:last-child) {
  margin-bottom: 16px;
}
.profile-page .user-visuals > :last-child {
  margin-bottom: 0px;
}
.profile-page .user-visuals-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  white-space: nowrap;
}
.profile-page .user-banner {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #222222;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile-page .user-card {
  position: absolute;
  inset: 16px auto 16px 16px;
  display: grid;
  grid-template-rows: 1fr auto;
  aspect-ratio: 1;
}
.profile-page .user-card > .user-avatar {
  max-height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile-page .user-card > .user-pseudo {
  flex-grow: 0;
  flex-shrink: 0;
  display: block;
  font-family: "Fredoka", sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 8px 8px;
  background-color: #F8F9F3;
}
.profile-page .table-quiz, .profile-page .table-stats {
  width: 100%;
  text-align: center;
}
.profile-page .table-quiz thead, .profile-page .table-stats thead {
  border-bottom: 1px solid black;
}
.profile-page .table-quiz tr, .profile-page .table-stats tr {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}
.profile-page .table-quiz td, .profile-page .table-quiz th, .profile-page .table-stats td, .profile-page .table-stats th {
  padding-block: 8px;
}
.profile-page .form > *:not(:last-child) {
  margin-bottom: 16px;
}
.profile-page .form > :last-child {
  margin-bottom: 0px;
}
.profile-page .form__fields {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  white-space: nowrap;
}
.profile-page .form__field {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.profile-page .form__widget {
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  padding: 8px 12px;
  border: 1px solid #A3A3A3;
  border-radius: 5px;
}
.profile-page .form__widget::-moz-placeholder {
  color: #A3A3A3;
}
.profile-page .form__widget::placeholder {
  color: #A3A3A3;
}
@media screen and (max-width: 576px) {
  .profile-page {
    font-size: 12px;
  }
  .profile-page .card {
    padding: 16px;
  }
  .profile-page .card > *:not(:last-child) {
    margin-bottom: 16px;
  }
  .profile-page .card > :last-child {
    margin-bottom: 0px;
  }
  .profile-page h2, .profile-page h3 {
    font-size: 16px;
  }
  .profile-page .table-quiz {
    text-align: left;
  }
  .profile-page .table-quiz thead {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .profile-page .table-quiz tr {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding-block: 16px;
  }
  .profile-page .table-quiz td[data-header]::before {
    content: attr(data-header) " : ";
  }
  .profile-page .table-quiz tbody tr:not(:last-child) {
    border-bottom: 1px solid #000;
  }
  .profile-page .table-quiz td[data-header] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -moz-column-gap: 16px;
         column-gap: 16px;
    padding: 0;
  }
  .profile-page .table-quiz td[data-header]::before {
    font-weight: bold;
  }
  .profile-page .form__fields {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .profile-page .form__fields > :first-child {
    grid-column: span 2;
    grid-row: 1;
  }
  .profile-page .form__fields > * {
    grid-row: 2;
  }
}

.quiz-page {
  font-family: "Fredoka", sans-serif;
  font-size: 12px;
}
.quiz-page .title-container {
  background: #00C2FF;
}
.quiz-page .title {
  color: #F8F9F3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 0 40px;
}
.quiz-page .title h1 {
  font-family: "Baloo 2", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-right: 20px;
}
.quiz-page .title .add-quiz-btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #7B51FF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quiz-page .title .add-quiz-btn:hover, .quiz-page .title .add-quiz-btn:hover i {
  background-color: #6f42ff;
  color: #FFD700;
}
.quiz-page .title .add-quiz-btn i {
  color: #F8F9F3;
}
.quiz-page .search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 70px;
  margin-top: 10px;
}
.quiz-page .search-box .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 30px;
  grid-template-rows: 35px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0px 0px 4px #222222;
  border-radius: 50px;
}
.quiz-page .search-box .content input {
  grid-column: 1/4;
  border-radius: 50px 0 0 50px;
  border: 2px solid #7B51FF;
  outline: none;
  padding: 0 15px;
}
.quiz-page .search-box .content input::-moz-placeholder {
  font-size: 12px;
  font-family: "Baloo 2", sans-serif;
}
.quiz-page .search-box .content input::placeholder {
  font-size: 12px;
  font-family: "Baloo 2", sans-serif;
}
.quiz-page .search-box .content .search-btn {
  grid-column: 4/-1;
  background-color: #7B51FF;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #F8F9F3;
  border-radius: 0 50px 50px 0;
}
.quiz-page .search-box .filter {
  margin: 15px 0;
  align-self: end;
}
.quiz-page .search-box .filter select {
  background-color: #00C2FF;
  color: #F8F9F3;
  outline: none;
  border: none;
  font-family: "Fredoka", sans-serif;
}
.quiz-page .quiz-category .category {
  background-color: #00C2FF;
  padding-top: 15px;
}
.quiz-page .quiz-category .category .category-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.quiz-page .quiz-category .category .category-list {
  background-color: rgba(123, 81, 255, 0.4);
  padding: 8px 15px;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
  transition: background-color 0.3s;
  text-align: center;
}
.quiz-page .quiz-category .category .category-list:hover {
  background-color: #7B51FF;
}
.quiz-page .quiz-category .category .active-category {
  background-color: #7B51FF;
}
.quiz-page .quiz-category .category .category-link {
  text-decoration: none;
  color: #F8F9F3;
  font-family: "Baloo 2", sans-serif;
}
.quiz-page .card-section {
  height: 100vh;
  background: linear-gradient(#7B51FF, #00C2FF);
  color: #F8F9F3;
  text-align: center;
  padding-top: 50px;
}

@media (min-width: 425px) {
  .quiz-page {
    font-size: 16px;
  }
  .quiz-page .title h1 {
    font-size: 32px;
  }
  .quiz-page .search-box .content input::-moz-placeholder {
    font-size: 16px;
  }
  .quiz-page .search-box .content input::placeholder {
    font-size: 16px;
  }
  .quiz-page .search-box .filter select {
    font-size: 16px;
  }
}
@media (min-width: 791px) {
  .quiz-page .title {
    margin: 0 80px;
  }
  .quiz-page .search-box {
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    padding-bottom: 15px;
  }
  .quiz-page .quiz-category .category .category-group {
    gap: 100px;
  }
}
@media (min-width: 1024px) {
  .quiz-page .title {
    justify-content: space-around;
    gap: 100px;
  }
  .quiz-page .quiz-category .category .category-group {
    gap: 170px;
  }
}/*# sourceMappingURL=main.css.map */