@use '../abstracts' as *;

/* Styles généraux */

.account {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: $bg-gradient;
    color: $color-white;
    font-family: Arial, sans-serif;
}

/* Conteneur principal */
.container {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Titre */
.form-container-title {
    margin-bottom: 20px;
    font-size: 24px;
}

/* Groupes de saisie */
.input-group {
    text-align: left;
    margin-bottom: 15px;
    color: $color-darkgrey;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

/* Bouton */

.btn {
    padding: 10px;
    border: none;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary {
    background: $color-purple;
    color: $color-white;
    
        &:hover {
        background: $color-lightblue;
        }
}



/* Lien vers l'inscription */

.form-container-paragraph {

    margin-top: 10px;
    font-size: 14px;

        a {
            color: $color-yellow;
            text-decoration: none;
            font-weight: bold;

                &:hover {
                    text-decoration: underline;
                }
        }
}



    
